VITE_APPWRITE_PROJECT_ID="your_project_id"
VITE_APPWRITE_PROJECT_NAME="your_project_name"
VITE_APPWRITE_ENDPOINT="your_endpoint"
VITE_APPWRITE_DB_ID="your_db_id"        
VITE_LOBBIES_TABLE_ID="your_lobbies_table_id"
VITE_PLAYERS_TABLE_ID="your_players_table_id"
VITE_DRAWINGS_TABLE_ID="your_drawings_table_id"
VITE_REFERENCE_IMAGES_BUCKET_ID="your_reference_images_bucket_id"
VITE_DRAWING_BUCKET_ID="your_drawing_bucket_id"
VITE_GEMINI_API_KEY="your_gemini_api_key"
